.accordion {
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #3F51B5;
    display: inline-block;
    padding: 4px 16px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
}

.accordion:hover {
    background-color: #283593;
    transform: scale(1.05);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.24), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.accordion:before {
    margin-left: 5px;
}

.project-info {
    padding: 0.01em 16px;
}

.title-container {
    font-size: 18px;
    color: #313131;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.title-label {
    font-weight: bold;
}

.title-company {
    font-style: italic;
}

.role-container {
    color: #3f51b5;
    font-size: 16px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 16px 0;
}

.role-icon {
    margin-right: 16px;
}

.project-content {
    padding: 0.01em 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.content-entry {
    margin-top: 12px;
    margin-bottom: 12px;
}

.content-headline {
    color: #313131;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
}

.content-list-entry {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 10px 0;
    padding-left: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 36px;
}


ul li::before {
    content: "•";
    color: #3F51B5;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}