.entry {
    margin: 16px 32px;
}

.name {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 10px 0;
    font-size: 18px;
    color: #313131;
    font-weight: bold;
}

.date {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 16px 0;
    font-size: 16px;
    color: #3F51B5;
}

.date-icon {
    margin-right: 16px;
}