.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 28px 24px;
}

.entry-icon {
    font-size: 16px;
    width: 48px;
}

.content-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-title {
    font-size: 16px;
}

.content-pill {
    font-size: 12px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #3F51B5;
    display: inline-block;
    padding: 4px 16px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
}



