.download-section {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 24px;
    margin-top: 24px;
    width: auto;
    z-index: 5;
}

.download-button {
    all: unset;
    display: inline-block;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    background-color: #3F51B5;
    color: #FFFFFF;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
}

.download-button:hover {
    background-color: #283593;
    transform: scale(1.05);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.24), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}