.entry {
    margin: 16px 32px;
}

.headline {
    font-size: 18px;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 12px 0;
    color: #313131;
    font-weight: bold;
}

.date {
    font-size: 16px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 16px 0;
    color: #3F51B5;
}

.date-icon {
    margin-right: 16px;
}

.date-current {
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #3F51B5;
    display: inline-block;
    padding: 4px 4px;
    text-align: center;
}

.tasks {
    margin: 24px 0;
}

.list-entry {
    margin-left: 36px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

ul li::before {
    content: "•";
    color: #3F51B5;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.tasks-headline {
    font-size: 20px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    color: #313131;
}

.technologies {
    margin: 24px 0;
}

.technologies-headline {
    font-size: 20px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    color: #313131;
}