.job-list {
    margin-bottom: 16px;
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 32px 32px;
}

.divider {
    border: none;
    height: 1px;
    color: #3F51B5;
    background-color: #3F51B5;
    box-sizing: content-box;
    overflow: visible;
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}