.list {
    margin: 24px 0;
}

.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 32px 0;
}

.icon {
    color: #3f51b5;
    min-width: 48px;
}

.link {
    color: inherit
}