.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
}

.title-test {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 32px;
    color: #313131;
}

.title-icon {
    color: #3F51B5;
    font-size: 24px;
    min-width: 48px;
    margin-right: 12px;
}