.divider {
    border: none;
    height: 1px;
    color: #3F51B5;
    background-color: #3F51B5;
    box-sizing: content-box;
    overflow: visible;
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.small {
    height: 1px;
}

.medium {
    height: 2px;
}

.large {
    height: 3px;
}