.footer {
    margin-top: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #3F51B5;
    padding: 0.01em 16px;
}

.footer:after, footer:before {
    content: "";
    display: table;
    clear: both;
}

.text {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}