.entry {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 0 24px;
    margin: 24px 0;
}

.content-bar-outer {
    margin-top: 12px;
    color: #000000;
    background-color: #F1F1F1;
    border-radius: 16px;
    font-size: 12px;
}

.content-bar-inner {
    padding: 4px 16px;
    text-align: center;
    border-radius: 16px;
    color: #FFFFFF;
    background-color: #3F51B5;
}