.cv {
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-content: space-between;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.personal {
    width: 33%;
}

.experience {
    width: 63%;
}

@media screen and (max-width: 770px) {
    .cv {
        flex-direction: column;
        align-items: center;
    }

    .personal {
        width: 95%;
    }

    .experience {
        width: 95%;
    }
}

