.image-container {
    position: relative;
}

.image {
    border-style: none;
    vertical-align: middle;
    width: 100%;
}

.image-text-container {
    color: #000000;
    padding: 0.01em 16px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.image-text-container:after, .image-text-container:before {
    content: "";
    display: table;
    clear: both;
}

.image-text {
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}